@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

@theme {
  /* Colors */
  --color-background: #F2F5F7;
  --color-surface: #FFFFFF;
  --color-primary: #7BA7D7;
  --color-secondary: #D6E4F0;
  --color-accent: #A4C3D9;
  --color-error: #E70004;
  --color-primary-text: #2C3E50;
  --color-secondary-text: #5D6D7E;
  --color-error-text: #FFFFFF;
  --color-border: #E0E6EB;

  /* Shadows */
  --shadow-sm: 0 1px 2px #7C94AF14, 0 2px 4px #7C94AF1F;
  --shadow-md: 0 2px 4px #7C94AF1F, 0 4px 8px #7C94AF26;
  --shadow-lg: 0 4px 8px #7C94AF26, 0 8px 16px #7C94AF26;

  /* Fonts */
  --font-sans: Inter, sans-serif;
  --font-heading: Poppins, sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset !important;
  -webkit-text-fill-color: var(--color-primary-text) !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -moz-transition: background-color 5000s ease-in-out 0s;
  -ms-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
}

/* nextjs-portal {
  display: none !important;
} */